
.card
{
 background-color: #ffffff;
 width: 300px;
 
 
 border-radius: 50px;
 padding:20px;
 margin: 250px 300px;
 text-align: center;
 box-shadow: 0 4px 8px rgba(rgb(236, 230, 230), green, blue, alpha);
}
.card img{
    width: 100%;
    border-radius: 25px;
    
}
body
{
    background-color: #a1b7d272;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100vh;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card h2{
    font-size: 25px;
    margin-top: 15px;

}
.card p{
      font-size: 18px;
      color: gray;
       margin-top: 10px;
}